{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% block findWork %}
<!-- Banner - Find Work
================================================== -->		
<div class="bannerFindWork">
	<div class="overlayBanners banner">	
		<div class="gridWrap1140">
			<div class="grid-100">
				<h1>Find<strong> work</strong> as a <br><strong>Caring Professional</strong></h1>
				<h2 class="justifyLeft light"><strong>Join</strong> us and find<strong> work</strong> with eAdvocate</h2>
			</div>	
		</div>	
	</div>
</div>
<div class="greyBG">
<div class="gridWrap960">
	<div class="grid-100">
		<h3>Explore How to <strong>Work as a Caring Professional</strong></h3>
	</div>
</div>

<div class="gridWrap1200">
	<div class="grid-100 centerText">
		<p>eAdvocate is a freelance online market place for all helping professionals to find work in their areas of expertise and location. eAdvocate connects clients requiring health and social service care with helping professionals, from over 20+ professional disciplines looking for jobs.</p>
		<a href="#" class="infoLink">You can easily search and find work today</a>
	</div>
</div>	
</div>

<div class="gridWrap960">
	<div class="grid-100">
		<h3>Browse <strong>Job Opportunities</strong></h3>
	</div>
</div>

<div class="gridWrap1200">
	<div class="grid-50">
		<p>Browse client <a href="#" class="infoLinkInline">Requests for Care</a> in your area and begin working today. eAdvocate allows you to search all current job opportunities in your area. You can search by credentials, skills, location, schedule and compensation requirements.</p>
		<a href="#" class="infoLink">Browse Caring Professional Profiles</a>
	</div>
	<div class="grid-50">
		<div class="findWorkBG2" title="Find the Care you need..." alt="Female care worker viewing her smartphone and smiling."><!-- filler --></div>
	</div>
</div>	

<div class="findWorkLG1 whiteMobile">
	<div class="overlayLG whiteText">	
		<div class="gridWrap1200 whiteText">
			<div class="grid-60 whiteText">
				<h3 class="justifyLeft">Join as a<br><strong> Member (For Free!)</strong></h3>
				<p>Take control of your career. Join the eAdvocate caring marketplace for free and work when you want, on the jobs you love. You can register for free and quickly connect with individuals and family looking for support with their health and social service needs.</p>
				<p>eAdvocate holds funds in escrow to ensure satisfaction</p>
				<button>Register Today</button>
			</div>	
			<div class="grid-40 hideTablet hideMobile"><!-- filler -->
			</div>	
		</div>	
	</div>
</div>

<div class="gridWrap1200">
	<div class="grid-100 centerText">
		<h3>Create your <strong>Professional Profile</strong></h3>
		<p>Join eAdvocate and create your personalized professional profile. As a member of the eAdvocate caring marketplace you can promote your unique professional experience, work history, education and availability to everyone within the eAdvocate community. eAdvocate allows you to take control of your work life, access meaningful job opportunities, as well as negotiate your own schedule and compensation.</p>
		<a href="#" class="infoLink">Create your professional profile</a>
	</div>
</div>

<div class="gridWrap960">
	<div class="grid-100">
		<a href="index.html"><img src="{% static 'images/findWork/profProfile.jpg' %}" title="A Caring Community..." alt="Image of tablet displaying a Care Professional profile."></a>
	</div>
</div>

<div class="greyBG">
	<div class="gridWrap1200">
		<div class="grid-100 centerText">
			<h3>Respond to <strong>Requests for Care</strong> in Your Area</h3>
			<p>As a member of eAdvocate you can search and respond to current <a href="#" class="infoLinkInline">Requests for Care</a> in your area of expertise or location. eAdvocate will also alert you 			to caring jobs that may fit your skills and experience. You can quickly access and review client Requests for Care and easily communicate with individuals 			and families to negotiate a work contract today.</p>
			<a href="#" class="infoLink">Learn more about how to review and respond to Requests for Care</a>
		</div>
	</div>	
</div>

<div class="findWorkLG2">
	<div class="overlayLG2 centerText">	
		<div class="gridWrap1140">
			<div class="grid-100">
				<h3 class="whiteText">Negotiate and Contract <strong>Work</strong></h3>
				<h4 class="whiteText">Whether you are seeking full time, short term, contract or flexible employment, eAdvocate’s caring marketplace has the jobs you are looking for.</h4>
			</div>
			
			<div class="grid-100">			
				<div class="gridNarrow-1-3">
					<div class="findWorkNegotiateBG">
						<h3><strong>1.</strong></h3>
						<p>Browse our <a href="#" class="infoLinkInline">Requests for Care</a> and find the right job for you.</p>
					</div>	
				</div>	
				
				<div class="gridNarrow-1-3">
					<div class="findWorkNegotiateBG">
						<h3><strong>2.</strong></h3>
						<p>Once you choose the <a href="#" class="infoLinkInline">Requests for Care</a> that fit your work requirements, you can easily and confidentially negotiate a contract outlining the specific skills, schedule, location and supports you can offer eAdvocate clients.</p>
					</div>	
				</div>	
				
				<div class="gridNarrow-1-3">
					<div class="findWorkNegotiateBG">
						<h3><strong>3.</strong></h3>
						<p>You will <a href="#" class="infoLinkInline">negotiate your own contract</a>, compensation and payment milestones with clients directly.</p>
					</div>	
				</div>	
			</div>
		</div>	
	</div>
</div>

<div class="findWorkLG3">
	<div class="overlayLG">	
		<div class="gridWrap960">
			<div class="grid-50 hideMobile"><!-- filler -->
			</div>	
			<div class="grid-50">
				<h3 class="justifyLeft whiteText"><strong>Manage Your</strong><br> Freelance Work</h3>
				<p class="whiteText">eAdvocate helps you better organize &amp; manage your freelance employment by offering online supports for marketing your professional profile, managing Requests for Care, negotiating contracts and fair compensation, as well as easily and meaningfully communicating with your clients, their families and care teams. </p>
				<p class="whiteText"><a href="#" class="infoLinkInline">Learn more</a> about the many simple eAdvocate tools and services specifically designed to support your caring freelance needs all in one place.</p>
			</div>	
		</div>	
	</div>
</div>
{% endblock %}
{% endblock %}