{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% block findCare %}
<!-- Banner - Find Care
================================================== -->			
<div class="bannerFindCare">
	<div class="overlayBanners banner">	
		<div class="gridWrap1140">
			<div class="grid-100">
				<h1>Find <strong>care</strong> as a <br><strong>eAdvocate patient</strong></h1>
				<h2 class="justifyLeft"><strong>Find out how to find care</strong> on eAdvocate</h2>
			</div>	
		</div>	
	</div>
</div>

<div class="findCareLG1">		
	<div class="gridWrap960">
		<div class="grid-100 centerText">
			<h2><strong>Finding a</strong> Caring Professional</h2>
			<h4>eAdvocate is an online caring marketplace that helps people who need health and social services find caring professionals in their area. As a dynamic caring community eAdvocate connects skilled caring professionals, from over 20+ professional disciplines, with individuals and families that need help and support. You can easily search, find and negotiate the care you need for you and your family today! </h4>
			<a href="#" class="infoLink">Learn More</a>
		</div>	
	</div>	
</div>

<div class="greyB">
<div class="gridWrap1200">
	<div class="grid-100 centerText">
		<h3>Browse our Network of <strong>Caring Professionals</strong></h3>
		<p>Browse helping professional profiles in your area and begin negotiating the support you need.</p>
		
		<div class="gridWrap1400">
			<div class="grid-1-3">
				<a href="index.html"><img src="{% static 'images/index/howWeHelpIndex_1.png' %}" width="200px" alt="Circular photo of hand holding wooden outline of a house."></a>
			</div>
				
			<div class="grid-1-3 hideMobile">
				<a href="index.html"><img src="{% static 'images/index/howWeHelpIndex_2.png' %}" width="200px" alt="Photo of hand holding a railing."></a>
			</div>
				
			<div class="grid-1-3 hideMobile">
				<a href="index.html"><img src="{% static 'images/index/howWeHelpIndex_3.png' %}" width="200px" alt="Photo of person wearing stethescope."></a>
			</div>
		</div>
		<a href="#" class="infoLink">Browse Caring Professional Profiles</a>
	</div>
</div>	
</div>

<div class="findCareLG2">
	<div class="overlayLG">			
		<div class="gridWrap1140">
			<div class="grid-50 hideMobile"><!-- filler -->
			</div>	
			<div class="grid-50">
				<h3 class="justifyLeft">Join as a<br><strong> Member (For Free!)</strong></h3>
				<p>Join eAdvocate for free and find the health and social service care you need today. You can register for free and quickly connect with helping professionals that have the skills and experience you require.</p>
				<button>Register Today</button>
			</div>	
		</div>	
	</div>
</div>

<div class="gridWrap1200">
	<div class="grid-100 centerText">
		<h3>Create your <strong>Patient Profile</strong></h3>
		<p>Take control of your health care and social service needs. Create a personalized patient profile and begin the process of contacting skilled helping professionals who can meet your unique care needs. eAdvocate allows you to identify the specific credentials, skills and services you need, while offering you easier access to more affordable and individualized care. </p>
		<a href="#" class="infoLink">Create your personal patient profile</a>
	</div>
</div>

<div class="gridWrap960">
	<div class="grid-100">
		<a href="index.html"><img src="{% static 'images/findCare/patientProfile.jpg' %}" title="A Caring Community..." alt="Image of tablet displaying a Patient profile."></a>
	</div>
</div>

<div class="gridWrap1200">
	<div class="grid-50">
		<h3 class="justifyLeft">Create a <strong>Request for Care (RFC)</strong></h3>
		<p>Create and post a personalized Request for Care to the eAdvocate online caring marketplace. Your personalized Request for Care outlines the specific patient needs, location, schedule and rate of compensation you require.</p>
		<p>Quickly begin reviewing responses from our helping professional community. You can easily narrow your search by reviewing profiles, bios, credentials, work history, references and ratings. You choose which caring professionals meet your needs.</p>
		<a href="#" class="infoLink">Create your individual Request for Care</a>
	</div>
	<div class="grid-50">
		<a href="index.html"><img src="{% static 'images/rfcImage.jpg' %}" title="A Caring Community..." alt="Image of tablet displaying an Request for Care or RFC document."></a>
	</div>
</div>	

<div class="gridWrap960">
	<div class="grid-100">
		<h3>Hire your <strong>Caring Professional Team</strong></h3>
	</div>
</div>

<div class="findCareLG3">
	<div class="overlay520">	
		<div class="gridWrap960">
			<div class="grid-100">
				<h4 class="whiteText centerText"><strong>Whether you are hiring a caring professional for one day or for the long term, hiring just one caring professional or a multidisciplinary care team, eAdvocate’s caring marketplace has what you need.</strong></h4>
				<p class="whiteText centerText">Once you choose the caring professional that meets your specific needs, you can easily and confidentially negotiate a contract that outlines your specific care needs, schedule and a fair rate of pay. Pay only for the services you need and the work you approve. eAdvocate holds your funds in escrow to ensure your satisfaction and pays your caring professional once mutually agreed milestones are met. eAdvocate deducts a small commission for the management of this caring marketplace.</p>
			</div>	
		</div>	
	</div>
</div>
{% endblock %}
{% endblock %}