{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% block howWeHelp %}
<!-- Banner - How We Help
================================================== -->			
<div class="bannerHowWeHelp">
	<div class="overlayBanners">	
		<div class="gridWrap1140 banner">
			<div class="grid-100">
				<h1>What is  <br><strong>eAdvocate</strong></h1>
				<h2 class="justifyLeft light"><strong>Find out more</strong> about eAdvocate services</h2>
			</div>	
		</div>	
	</div>
</div>

<div class="greyBG2">
	<div class="gridWrap1140">
		<div class="grid-100 centerText">
			<h2>What is <strong>eAdvocate?</strong></h2>
			<h4>eAdvocate is an<strong> online caring marketplace</strong> that helps people who need health and social services find helping professionals in their area.</h4>
			<p>As a dynamic <strong>caring community</strong> eAdvocate connects skilled caring professionals, from over 20+ professional disciplines, with individuals and families that need help and support. You can easily search, find and negotiate the care you need for you and your family today!</p>
			<div class="grid-100">
				<div class="grid-50-2"><button class="centerContent">Find Care</button></div>
				<div class="grid-50-2"><button class="blue centerContent">Find Work</button></div>
			</div>
		</div>
	</div>
</div>

<div class="gridWrap1200">
	<div class="grid-50">
		<h3 class="justifyLeft"><strong>Why use</strong> eAdvocate?</h3>
		<p><strong>Finding care is more accessible</strong> – you can search for multidisciplinary helping professionals in one place, negotiate what you need personally &amp; confidentially</p>
		<p><strong>Finding care is more affordable</strong> – you can negotiate a fair price, you will pay less as you are contracting directly with the caring professional</p>
		<p><strong>Finding care is easier</strong> – you can browse our services &amp; find helpful information about how to choose the best caring professional to fit your needs</p>
		<p><strong>Finding care is more personal</strong> – you outline your needs directly, based on your personalized requirements</p>
	</div>
	<div class="grid-50 hideMobile">
		<div class="howWeHelpBG2" title="Find the Care you need..." alt="Woman seated at desk working on laptop."><!-- filler --></div>
	</div>
</div>	

<div class="howWeHelpLG1">
	<div class="overlayWhite">		
		<div class="gridWrap1200">
			<div class="grid-50">
				<h3 class="justifyLeft">Learn more about eAdvocate<strong> tools &amp; support services</strong></h3>
				<p><strong>Organize your needs</strong> - eAdvocate also helps you better organize &amp; manage all your health &amp; social service needs by offering online supports for managing <a href="#" class="infoLinkInline">Requests for Care</a>, budgeting &amp; communication between you, your family &amp; all care providers</p>
				<p><strong>Secure Payments</strong> - eAdvocate holds funds in escrow to ensure satisfaction</p>
				<a href="#" class="infoLink">Browse Current Requests for Care</a>
				<br>
				<a href="#" class="infoLink">Find Available Work by Location</a>
			</div>	
			<div class="grid-50 hideMobile"><!-- filler -->
			</div>	
		</div>	
	</div>
</div>

<div class="gridWrap1200">
	<div class="grid-50 hideMobile">
		<div class="howWeHelpBG3" title="Find the Care you need..." alt="Hand of elderly person holding cane."><!-- filler --></div>
	</div>
	<div class="grid-50">
		<h3 class="justifyLeft">Where Can I<strong> find Caring Professionals?</strong></h3>
		<p>eAdvocate allows you to browse the profiles of caring professionals available for work in your area. You are able to search for care and support based on your own personal needs, in areas such as <a href="#" class="infoLinkInline">palliative care, long-term care, acute health care needs or support for children with diverse needs</a>. You can also post a personalized Request for Care outlining what you need and then choose from many skilled helping professionals who meet your requirements. eAdvocate allows you to be more in control of your health care and social service needs by negotiating and contracting directly with those helping 	professionals you feel are a fit.</p>
		<a href="#" class="infoLink">Browse Caring Professional Profiles</a>
	</div>
</div>	

<div class="greyBG2">
	<div class="gridWrap1075">
		<div class="grid-100">
			<h3>Are you looking for <strong>Work as a Freelance Caring Professional?</strong></h3>
			<p><strong>Finding work is more accessible</strong> – you can browse all the Requests for Care in your area, negotiate contracts directly with individuals &amp; families in need </p>
			<p><strong>Finding work that is better compensated</strong> – you can negotiate a fair price, you will contracting directly with clients</p>
			<p><strong>Finding work is easier</strong> – you can browse Requests for Care in your area &amp; find helpful information about how to negotiate the best employment contract to fit your needs</p>
			<p><strong>Finding work is more personal</strong> – you outline your skills and expertise directly, based on your professional background &amp; experience</p>
			<a href="#" class="infoLink">Browse Caring Professional Profiles</a>
		</div>
	</div>	
</div>

<div class="gridWrap1200">
	<div class="grid-50">
		<div class="howWeHelpBG4" title="Find the Care you need..." alt="Woman calculating payments on laptop."><!-- filler --></div>
	</div>
	<div class="grid-50">
		<h3 class="justifyLeft">How does<strong> Pricing &amp; Payment work?</strong></h3>
		<p>eAdvocate offers health care and social services that are more affordable and also provides helping professionals opportunities to be better compensated for their caring work. eAdvocate provides a safe, trusted and easy system to help negotiate all care and compensation between members.</p>
		<p>eAdvocate holds all <a href="#" class="infoLinkInline">funds in escrow</a> to ensure satisfaction and timley payments. eAdvocate deducts a small fee for the management of this caring marketplace.</p>
		<a href="#" class="infoLink">Find Out More</a>
	</div>
</div>	
{% endblock %}
{% endblock %}