{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% block indexBanners %}
<!-- Banner - Home Page
================================================== -->		
<section class="bannerHome">
	<div class="overlayBanners bannerIndex">			
		<div class="gridWrap1140">
			<div class="grid-100">
				<h1>The <strong>Caring</strong> <br>Marketplace…</h1>
				<h4>The place to <strong>find support</strong> for all your <strong>health care</strong> and<strong> social service needs</strong></h4>
				<h4>The care <strong>you</strong> want the way <strong>you</strong> need it.</h4>
				<button>Find Out More</button>
			</div>	
		</div>	
	</div>
</section>
{% endblock %}
{% block howWeHelpIndex %}
<!-- Section - How We Help
================================================== -->	
<div class="gridWrap960">
	<div class="grid-100">
		<h2>How We Help</h2>
	</div>
</div>

<div class="gridWrap1400">
	<div class="grid-1-3">
		<a href="{% url 'howWeHelp' %}"><img src="{% static 'images/index/howWeHelpIndex_1.png' %}" width="200px" alt="Hand holding a wooden outline of a house whild outside on the grass."></a>
		<h3 class="centerText"><strong>A Caring Community…</strong></h3>
		<p>eAdvocate is an online marketplace that helps people find the health care and social services they need. eAdvocate offers more accessible, affordable and personalized access to caring professionals in your area to support you, your aging parents, your children with diverse needs, palliative care supports and other acute health care needs.</p>
		<a href="{% url 'howWeHelp' %}" class="infoLink">Learn More</a>
	</div>
		
	<div class="grid-1-3 hideMobile">
		<a href="{% url 'findCare' %}"><img src="{% static 'images/index/howWeHelpIndex_2.png' %}" width="200px" alt="Hand supporting self on railing while doing therapy."></a>
		<h3 class="centerText"><strong>Find the care you need…</strong></h3>
		<p>Join eAdvocate for free and find the care you need today. Browse helping professional profiles in your area, post a personalized request for care and manage all your health and social service needs. Negotiate what you need and contract directly with our community of helping professionals.</p>
		<a href="{% url 'findCare' %}" class="infoLink">Learn More</a>
	</div>
		
	<div class="grid-1-3 hideMobile">
		<a href="{% url 'findWork' %}"><img src="{% static 'images/index/howWeHelpIndex_3.png' %}" width="200px" alt="Closeup of a care professional wearing a strethascope."></a>
		<h3 class="centerText"><strong>Work as a helping professional…</strong></h3>
		<p>eAdvocate is the leading online marketplace for helping professionals to find and manage caring work in their field. Negotiate and contract directly with clients and start working today.</p>
		<a href="{% url 'findWork' %}" class="infoLink">Learn More</a>
	</div>
</div>	

<div class="gridWrap1400">
	<div class="grid-50">
		<div class="titleFind">
			<h1><strong>Find</strong></h1>
			<h3 class="centerText justifyLeft light">the <strong>care</strong> you need</h3>
		</div>
		<div class="findCareIndex" title="Find the Care you need..."><!-- test --></div>
		<div class="findCare">
			<div class="findCareSubHeadingDiv">
				<h5 class="centerText"><strong>Do you or someone you love need support for your health and social service needs?</strong></h5>
			</div>
			<div class="findParagraphDiv">
				<p>Are you looking for work as a caring professional? eAdvocate is a new online marketplace supporting helping professionals to find work. Join for free and browse current requests for care in your area of expertise and location, as well as post your professional profile, market and manage your freelance caring work. Start working today.</p>
			</div>
			<div class="findButton">
				<button>Find Care</button>
			</div>
		</div>
	</div>
		
	<div class="grid-50">
		<div class="titleFind">
			<h1><strong>Work</strong></h1>
			<h3 class="centerText justifyLeft light">as a <strong>caring</strong> professional</h3>
		</div>
		<div class="findWorkIndex" title="Find the Care you need..."><!-- test --></div>
			<div class="findWork">
			<div class="findCareSubHeadingDiv">
				<h5 class="centerText"><strong>Are you looking for work as a caring professional?</strong></h5>
			</div>
			<div class="findParagraphDiv">
				<p>eAdvocate is the first ever interdisciplinary online marketplace supporting freelance helping professionals. Join eAdvocate and browse current requests for care in your area of expertise and location, as well as post your professional profile, market and manage your freelance caring work. Start working today.</p>
			</div>
			<div class="findButton">
				<button>Find Work</button>
			</div>
		</div>
	</div>
</div>	
{% endblock %}
{% block discoverCaringProfessionals %}
<!-- Section - How We Help - Discover Caring Professionals
================================================== -->	
<div class="gridWrap1200">
	<div class="grid-100">
		<h2>View some eAdvocate helping professional profiles</h2>
	</div>
</div>

<div class="gridWrap1200">
	<div class="grid-1-3">
		<a href="index.html"><img src="{% static 'images/index/profile1.jpg' %}" alt="Portrait - photo of care professional."></a>
		<div class="blueBorderDiv">
			<blockquote>I am able to be the kind of caring professional I want to be. I have found work through eAdvcoate that meets all my personal needs, as well as my desire to be part of a caring community.</blockquote>
		</div>
		<div class="blueBorder">
			<p><strong>- eAdvocate Member</strong></p>
		</div>
	</div>
		
	<div class="grid-1-3 hideMobile">
		<a href="index.html"><img src="{% static 'images/index/profile2.jpg' %}" alt="Portrait - photo of care professional."></a>
		<div class="blueBorderDiv">
			<blockquote>eAdvocate allowed me to take control of my career. I can work when I want, on the jobs I love! Since joining eAdvocate I have had steady work with clients I choose.</blockquote>
		</div>
		<div class="blueBorder">
			<p><strong>- eAdvocate Member</strong></p>
		</div>
	</div>
		
	<div class="grid-1-3 hideMobile">
		<a href="index.html"><img src="{% static 'images/index/profile3.jpg' %}" alt="Portrait - photo of care professional."></a>
		<div class="blueBorderDiv">
			<blockquote>I was able to contract directly with clients, which allowed me to negotiate my own schedule and fair pay for my caring work.</blockquote>
		</div>
		<div class="blueBorder">
			<p><strong>- eAdvocate Member</strong></p>
		</div>
	</div>
</div>	
{% endblock %}
{% block clientTestimonials %}
<!-- Section - How We Help - Client Testimonials
================================================== -->	
<div class="gridWrap1200">
	<div class="grid-100">
		<h2>Find out what people are saying about eAdvocate</h2>
	</div>
</div>

<div class="gridWrap860">
	<div class="grid-40">
		<a href="index.html"><img src="{% static 'images/index/testimonial.jpg' %}" alt="Portrait - photo of eAdvocate user."></a>
	</div>		
	<div class="grid-60">
		<blockquote>After my hip surgery, I used eAdvocate to fill all of the gaps in the system… I was more in control of the extra care I needed and my nurse Eileen was a perfect fit.</blockquote>
		<p><strong>- eAdvocate Member</strong></p>
	</div>
</div>	

<div class="gridWrap860 hideMobile">
	<div class="grid-60">
		<blockquote>My son is very special and has many special needs. eAdvocate allowed me to quickly and confidently organize a care team that I could trust. eAdvocate made it easy for me to contract and communicate with all the helping professionals supporting my sons well-being.</blockquote>
		<p><strong>- eAdvocate Member</strong></p>
	</div>
	<div class="grid-40">
		<a href="index.html"><img src="{% static 'images/index/testimonial2.jpg' %}" alt="Portrait - photo of eAdvocate user."></a>
	</div>
</div>	

<div class="gridWrap860 hideMobile">
	<div class="grid-40">
		<a href="index.html"><img src="{% static 'images/index/testimonial3.jpg' %}" alt="Portrait - photo of eAdvocate user."></a>
	</div>
	<div class="grid-60">
		<blockquote>eAdvocate offered me an easy and affordable place to find all the care I need to support my aging parents. It is a supportive one stop shop!</blockquote>
		<p><strong>- eAdvocate Member</strong></p>
	</div>
</div>	
{% endblock %}
{% endblock %}


