

/* Styles CSS
   ================================================
   eAdvocate Ltd.
   Copyright 2013

   http://www.eadvocate.com/

   Design and code by Paul Hladun
   
   ================================================*/


/* Misc Styles
================================================== */	

body {
	padding-left: 0;
	padding-right: 0;
}

body background {
	display: none;
	background: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none !Important;
}

a, button, input[type=submit], input[type=reset] {
	transition: 0.5s ease-in-out;
   	-moz-transition: 0.5s ease-in-out;
  	-webkit-transition: 0.5s ease-in-out;
  	-o-transition: 0.5s ease-in-out;
}

ul, li {
	margin: 0;
	padding: 0;
	text-decoration: none;	
	list-style: none;
}

img {
	display: block;
	margin: 0px auto;
	margin-bottom: 20px;
	vertical-align: middle;
}

img.logo {
	margin: 0;
}

.centerContent {
	display: block;
	margin: 0px auto;
	margin-bottom: 20px;
	vertical-align: middle;
}

hr { 
	width: 50%;
	border: solid #999; 
	border-width: 1px 0 0; 
	margin: 20px auto 10px;   
	height: 0; 
	clear: both; 
}

hr { 
	max-width: 1196px;
	width: 100%;
	border: solid rgba(40,40,40,0.3);
	border-width: 1px 0 0; 
	margin: 0 auto;   
	height: 0; 
	clear: both; 
}

.hideContent {
	display: none;
}

/* Banners, Backgrounds and Overlays
================================================== 
==================================================*/	

.bannerHome, .howWeHelpIndexBG, .howWeHelpIndexBG2, .howWeHelpIndexBG3, .findCareIndex, .findWorkIndex, .bannerHowWeHelp, .howWeHelpBG1, .howWeHelpBG2, .howWeHelpBG3, .howWeHelpBG4, .howWeHelpLG1, .bannerFindWork, .findWorkBG1, .findWorkBG2, .findWorkBG3, .findWorkLG1, .findWorkLG2, .findWorkLG3, .bannerFindCare, .findCareBG1, .findCareLG1, .findCareLG2, .findCareLG3 {
	margin: 0 auto;
}

/* Banners - All Pages
=================================== */	

.bannerHome, .bannerHowWeHelp, .bannerFindCare, .bannerFindWork {
  	max-width: 100%;
   	height: auto;
}

.bannerHome {
	background: url(../images/index/indexBanner1.jpg) center no-repeat;
}

.bannerHowWeHelp {
	background: url(../images/howWeHelp/bannerHowWeHelp.jpg) center no-repeat;
}

.bannerFindWork {
	background: url(../images/findWork/bannerFindWork.jpg) center no-repeat;
}

.bannerFindCare {
	background: url(../images/findCare/bannerFindCare.jpg) center no-repeat;
}

.bannerIndex h1, .bannerIndex h4, .banner h1, .banner h2, .banner h3 {
	color: #fff;
}

.bannerIndex h1 {
	margin-top: 100px;
}

.banner h1 {
	margin-top: 200px;
}

.banner h3 {
	font-size: 3em;
}

/* Index Backgrounds
=================================== */	

.howWeHelpIndexBG, .howWeHelpIndexBG2, .howWeHelpIndexBG3, .findCareIndex, .findWorkIndex {
	padding-top: 100%;
	margin-bottom: 20px;	
}

.findCareIndex, .findWorkIndex {
	padding-top: 68%;
	margin-bottom: 20px;	
}

.findCareIndex {
	background: url(../images/index/findCareIndex.jpg) center center no-repeat;
}
	
.findWorkIndex {
	background: url(../images/index/findWorkIndex.jpg) center center no-repeat;
}

/* How We Help Backgrounds
=================================== */	

.howWeHelpBG1, .howWeHelpBG2, .howWeHelpBG3, .howWeHelpBG4 {
	padding-top: 70%;
	margin-bottom: 20px;
}

.howWeHelpBG1 {
	background: url(../images/howWeHelp/howWeHelp1.jpg) center center no-repeat;
}

.howWeHelpBG2 {
	background: url(../images/howWeHelp/howWeHelp2.jpg) center center no-repeat;
}

.howWeHelpBG3 {
	background: url(../images/howWeHelp/howWeHelp3.jpg) center center no-repeat;
}

.howWeHelpBG4 {
	background: url(../images/howWeHelp/howWeHelp4.jpg) center center no-repeat;
}

.howWeHelpLG1 {
	background: url(../images/howWeHelp/howWeHelpLG1.jpg) center center no-repeat;
  	max-width: 100%;
   	height: 600px;
	margin-bottom: 30px;
}

/* Find Work Backgrounds
=================================== */	

.findWorkBG1, .findWorkBG2, .findWorkBG3 {
	padding-top: 70%;
	margin-bottom: 20px;
}

.findWorkBG1 {
	background: url(../images/findWork/findWork1.jpg) center center no-repeat;
}

.findWorkBG2 {
	background: url(../images/findWork/findWork2.jpg) center center no-repeat;
}

.findWorkBG3 {
	background: url(../images/findWork/findWork3.jpg) center center no-repeat;
}

.findWorkLG1, .findWorkLG2, .findWorkLG3 {
  	max-width: 100%;
   	height: 600px;
	margin-bottom: 30px;
}

.findWorkLG1 {
	background: url(../images/findWork/lgTest.jpg) center center no-repeat;
}

.findWorkLG2 {
	background: url(../images/findWork/findWorkLG2_Test.jpg) center center no-repeat;
  	height: 640px;
	margin-bottom: 30px;
}

.findWorkLG3 {
	background: url(../images/findWork/lgTest3.jpg) center center no-repeat;
}

.greyBG, .greyBG2 {
	background: #F4F2F2;
	min-height: 400px;
	margin-bottom: 10px;
	padding: 76px 0;
}

.greyBG2 {
	background: rgba(10,158,172,0.1);
	padding: 30px 0;
}

/* Find Care Backgrounds
=================================== */	

.findCareBG1 {
	background: url(../images/findCare/findCare1.jpg) center center no-repeat;
	padding-top: 70%;
	margin-bottom: 20px;
}

.findCareLG1, .findCareLG2 {
  	max-width: 100%;
   	height: 600px;
	margin-bottom: 30px;
}

.findCareLG1 {
	background: url(../images/findCare/findCareLG1.jpg) center center no-repeat;
	margin-top: 30px;
	padding-top: 140px;
}

.findCareLG2 {
	background: url(../images/findCare/findCareLG2.jpg) center center no-repeat;
}

.findCareLG3 {
	background: url(../images/findCare/findCareLG3.jpg) center center no-repeat;
  	max-width: 100%;
  	height: 700px;
}

/* All Banners
=================================== */	

.bannerHome, .bannerHowWeHelp, .bannerFindCare, .bannerFindWork, .howWeHelpIndexBG, .howWeHelpIndexBG2, .howWeHelpIndexBG3, .findCareIndex, .findWorkIndex, .howWeHelpBG1, .howWeHelpBG2, .howWeHelpBG3, .howWeHelpBG4, .howWeHelpLG1, .findWorkBG1, .findWorkBG2, .findWorkBG3, .findWorkLG1, .findWorkLG2, .findWorkLG3, .findCareBG1, .findCareLG1, .findCareLG2, .findCareLG3 {
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* Overlays
=================================== */	

.overlayBanners {
	background: rgba(20,20,20,0.1) center center no-repeat;
  	min-height: 600px;
}

.overlayLG, .overlayGreyBlue, .overlayGreyPink, .overlayWhite {
	background: rgba(20,20,20,0.1) center center no-repeat;
  	min-height: 600px;
  	padding-top: 30px;
  	color: white;
}

.overlayLG2 {
	background: rgba(20,20,20,0.4) center center no-repeat;
  	min-height: 640px;
  	padding-top: 50px;
}

.overlayCommunity {
	background: rgba(20,20,20,0.3) center center no-repeat;
 	min-height: 400px;	
}

.overlay520 {
	background: rgba(10,158,172,0.6) center center no-repeat;
 	height: 700px;
	padding-top: 230px;
}


/* Header and Navigation
================================================== */	

header {
	background: #fff;
}

.headerAction {
	font-weight: 300;
	font-size: 1.2em;
	text-transform: none;
	cursor: pointer;	
}

.headerAction ul {
	text-align: right;
	margin: 20px auto;
}

.headerAction li, .headerAction li a {
	display: inline;
	padding: 20px 0 0 20px;	
}

.login {
	color: #0A9EAC;
}

.login:hover {
	color: #404040;
}

.join {
	color: #D02E54;
}

.join:hover {
	color: #404040;
}

/* Font Styles
================================================== */	

h1, h2, h3, h4, h5, h6, p, q, blockquote, footer, button, .headerAction, a.infoLink, a.infoLinkAlt, a.infoLinkInline, a.edit, a.discuss, .community, thead, th, td {
	font-family: 'Lato', sans-serif;
	font-style: normal;	
}

h1 {
  	font-weight: 100;
  	color: #141414;
  	font-size: 6em;	
  	line-height: 90px;
  	margin: 0 0 30px 0;
}

h2 {
  	font-weight: 300;
  	color: #141414;
  	font-size: 3.4em;	
  	text-align: center;
  	margin: 20px 0;
}

h2 a {
	color: white;
}

h3 {
	font-weight: 300;
	color: #141414;
	font-size: 2.2em;
	text-align: center;
	margin: 0 0 18px 0;
}

h4 {
	font-weight: 300;
	color: #141414;
	font-size: 1.6em;
	margin: 10px auto;
}

h5 {
	font-weight: 300;
	color: #141414;
	font-size: 1.3em;
	margin: 5px 0 15px 0;
}

h6 {
	font-weight: 300;
	color: #404040;
	font-size: 1.2em;
}

p {	
  	font-weight: 300;
	color: #141414;
	font-size: 1.2em;
  	line-height: 28px;
	margin: 0 0 15px 0;
}

q, blockquote {
	font-style: italic;
	font-weight: 300;
	color: #141414;
	font-size: 1.3em;	
	margin-bottom: 15px;
	display: block;
}

/* Button and Link Styles
=============================== */	

a.infoLink, a.infoLinkAlt, a.infoLinkWhite, a.infoLinkInline, a.edit, a.discuss, a.infoLinkProfile, a.moreInfoDashboard, a.infoLinkProfileAlt, a.profileDashboardSettings {
	font-weight: 300;
	color: #0A9EAC;
	font-size: 1.5em;
  	line-height: 28px;
	text-decoration: none;
	margin: 16px auto;
	display: inline-block;
	cursor: pointer;
}

a.infoLinkInline {
	font-size: inherit;
  	line-height: inherit;
	display: inline;
	margin: 0;
}

a.infoLinkInline:hover {
	color: #141414;
}

a.infoLink:hover {
	color: #404040;
}

a.infoLinkAlt:hover {
	color: #141414;
}

a.infoLinkWhite:hover {
	font-weight: 100;
	color: white;
}

a.edit {
	position: absolute;
	bottom: 10px;
	margin: 0;
	font-size: 1em;
}

a.discuss {
	background: url(../images/alertIcon_Sm.png) 3px center no-repeat;
	position: absolute;
	bottom: 10px;
	font-size: 1em;  
	color: #D02E54;
	margin: 40px 0 0 0;
	padding-left: 26px;
}

a.tips {
	background: url(../images/tipsIcon.png) 3px center no-repeat;
	font-size: 1em;
	color: #404040;
	padding: 14px 0 10px 36px;
	display: block;
}

a.infoLinkProfile {
  	font-weight: 100;
	font-size: 1em;
	margin: 0px auto;
}

a.moreInfoDashboard { 
  	font-weight: 400;
	font-size: 1.1em;
	text-align: right;
	float: right;
	display: inline-block;
}

a.infoLinkProfileAlt {
	font-size: 1em;
	padding: 0 0 0 120px;
	margin: 0;	
}

a.profileDashboardSettings { 
  	font-size: 1.3em;
	display: block;
}

button {
	background: rgba(208,46,84,0.9);
	width: 170px;
	height: 54px;
	border: none;
  	font-weight: 300;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	color: white;
	margin: 30px 0;
	cursor: pointer;	
	display: block;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	background: rgba(20,20,20,0.6);
}

button.blue {
	background: #0A9EAC;
}

button.blue:hover {
	background: #404040;
}

button.black {
	background: #141414;
}

button.black:hover {
	background: #404040;
}

/* Font - Specific Class Styles: All Fonts
================================================== */	

strong, .strong {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

.whiteText {
	color: white;
}

.lightGreyText {
	color: #404040;
}

.centerText {
	text-align: center;
}

.justifyLeft {
	text-align: left;
}

.blueHighlight {
	color: #0A9EAC;
}

/*  Bursary, Contact, and Community
================================================== */	

.titleFind {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 4px solid #0A93A1;
}

.titleFind h1 {
	font-size: 3.2em;
	line-height: 50px;
	margin: 0;
}

.titleFind h3 {
	margin: 0;
}

.findParagraphDiv {
	min-height: 180px;
}

.findButton {
	min-height: 75px;
	overflow: hidden;
}

.findCare button, .findWork button {
	margin: auto;
}

.shareTheCare {
	background: #F4F2F2;
	min-height: 400px;
	margin-bottom: 10px;
}

.contact {
	background: rgba(10,158,172,1);
	min-height: 400px;
	margin-bottom: 10px;
	padding-top: 46px;
	text-align: center;
}

.contact h1 {
	font-weight: 100;
	color: white;
	font-size: 3.8em;
}

.contact h4 {
	color: white;
}

/* Community Banner
=============================== */	

.communityBG {
	background: url(../images/communityBG.jpg) #fff center  center no-repeat;	
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.community {
	min-height: 300px;
	margin-bottom: 10px;
	text-align: center;
}

.community h1, .community h2, .community h3, .community h4 {	
	color: white;
}

.community h1 {	
	font-weight: 100;
  	font-size: 3.8em;
  	margin-bottom: 20px;
}

.community h2 {
  	font-size: 3.8em;	
}

.community h3 {
  	font-size: 1.9em;	
  	margin-top: 60px;
}

.blueBorderDiv {
	min-height: 167px;
}

.blueBorder, .blueBorderDashboard {
	border-bottom: 3px solid #0A93A1;
}

.blueBorderDashboard {
	margin-bottom: 30px;
}

/* How We Help Page
================================================== */	

/* Find Work Page
================================================== */	

.findWorkNegotiateBG {
	background: rgba(255,255,255,0.7);
	height: 330px;
	padding: 40px 10px 10px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.findWorkNegotiateBG h3 {
	font-size: 1.6em;
	margin-bottom: 5px;	
}

/* Find Care Page
================================================== */	

.findCareSubHeadingDiv {
	min-height: 60px;
}

/* Footer
================================================== */	

footer {
	width: 100%;
	background: #141414;
  	font-weight: 300;
	font-size: 0.92em;
	padding-top: 75px;
}

footer ul {
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

footer li {
	display: block;
}

footer li a {
	color: #BBBBBB;
	display: block;
	text-align: left;
	text-decoration: none;
	padding: 0 0 5px 0;
}

footer li a:hover {
	color: #0A9EAC;
}

footer a.current {
	color: #0A9EAC;
   	cursor: default;
}

footer h5, footer h5 a {
	font-weight: 400;
	color: white;
	font-size: 1.1em;
}

footer h6 {
	font-weight: 300;
	color: #BBBBBB;
	font-size: 1em;
}

footer h5 a:hover {
	color: #0A9EAC;
}

.rightBorder {
	border-left: 1px solid #404040;
	padding-left: 50px;
}

.top a {
	background: url(../images/upArrow.png) right center no-repeat;
	font-family: 'lato', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	color: rgba(10,158,172,0.9);
	margin: 40px 0 0 0;
	padding-right: 26px;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition: 0.3s ease-in;
}

.top a:hover {
	color: rgba(10,158,172,0.3);
}


